{% extends "base.html" %}
{% block content %}

<h2>Edit Success Story</h2>

<form method="POST">
  <p>Title: <input type="text" name="title" value="{{ case_study.title }}" required></p>
  <p>Challenge:<br>
    <textarea name="challenge" rows="4" cols="50" required>{{ case_study.challenge }}</textarea></p>
  <p>Solution:<br>
    <textarea name="solution" rows="4" cols="50" required>{{ case_study.solution }}</textarea></p>
  <p>Results:<br>
    <textarea name="results" rows="4" cols="50" required>{{ case_study.results }}</textarea></p>
  <p>Lottie URL: <input type="text" name="lottie_url" value="{{ case_study.lottie_url }}"></p>
  <p>Button URL: <input type="text" name="button_url" value="{{ case_study.button_url }}"></p>

  <p><button type="submit">Update</button></p>
</form>

{% endblock %}
